input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #0B6000;
    border-radius: 3px;
}

input[type="checkbox"]:checked+label:before {
    border-color: #0B6000;
}

input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    width: 8px;
    height: 14px;
    border: solid #0B6000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}